img.img-carrito {
    object-fit: cover;
    width: 100px;
    height: 100px;
   border-radius: 100%;

}

div.Carrito {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    border: solid 5px black;
    background-color: rgba(159, 176, 152, 0.481);
    margin: 5px 0 ;
    justify-content: space-around;
    align-items: center;
}

.prod-carrito{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 200px;
   
}
.remover{
    cursor: pointer;
    width: 30px;
        height: 30px;

    &:hover{
        
        background-color: rgba(255, 2, 2, 0.595);
        border-radius: 10px;
    }
}

.titulo{
    font-weight: bold;

}

.container-button-chekout{
    display: grid;
    grid-template-rows: repeat(3 1fr);
    grid-template-columns: auto;
    justify-content: center;
}

.button-checkout{
    width: 200px;
    height: 30px;
    border: solid 2px black ;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: black;
    background-color: rgba(255, 253, 253, 0.038);

    &:hover{
        font-weight: bold;
    }
    
}