footer {
position: absolute;
    width: 100%;
}

p.footer-tex {
    height: 100px;
    margin:0px ;
   background-color: grey;
   font-size: 14px;
   display: flex;
   align-items: center;
   justify-content: center;

}

