

card.card {
    background-color: rgba(173, 179, 154);
    justify-content: center;
    opacity: 0.85;
margin: 10px;
box-shadow: 2px 2px 2px 2px;
text-align: center;
padding: 0;


&:hover {
    opacity: 1;
    }

}





img.img-prod {
            object-fit: cover;
            width: 300px;
            height: 300px; 
}

.button-ver-mas {
    color: black;
  box-shadow: 0 0 0 2px;
    width: 35%;
    position: relative;
    left: 33%;
    text-decoration: none;
    margin-bottom: 15px;
    font-weight: bold;
}